.wrapper {
    background-color: #fff;
    width: 600px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-weight: 700;
    border-radius: 10px;
    padding: 20px;
  }